/*! @gov.au/callout v3.0.3 */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// callout module globals
// Use callout to notify and alert users of important snippets of information.
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: '@gov.au/callout';
$version: '3.0.3';
$dependencies: (('@gov.au/core', '4.0.0'));

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.
