/*! @gov.au/page-alerts v2.1.4 */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// page-alerts module globals
// Use page alerts to notify users of important information and state changes to the page.
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: '@gov.au/page-alerts';
$version: '2.1.4';
$dependencies: (('@gov.au/core', '4.0.0'), ('@gov.au/body', '2.0.0'));

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.
