/*! @gov.au/headings v2.0.12 */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// headings module globals
// Class styles for display headings.
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: '@gov.au/headings';
$version: '2.0.12';
$dependencies: (('@gov.au/core', '4.0.0'));

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.
