/*! @gov.au/main-nav v1.0.9 */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// main-nav module globals
// Horizontal list of links to key areas on the website. Usually located in the header.
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: '@gov.au/main-nav';
$version: '1.0.9';
$dependencies: (
  ('@gov.au/core', '4.0.0'),
  ('@gov.au/animate', '1.0.0'),
  ('@gov.au/link-list', '3.0.0')
);

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

$AU-main-nav-breakpoint: lg !default;
$AU-main-nav-width: 280px !default;
$AU-main-nav-z-index: 200 !default;
