/*! @gov.au/card v0.3.3 */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// card module globals
// A container for all types of content
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: '@gov.au/card';
$version: '0.3.3';
$dependencies: (('@gov.au/core', '4.0.0'));

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.

$AU-card-divider: lightgray;
