/*! @gov.au/breadcrumbs v3.0.6 */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// breadcrumbs module globals
// Breadcrumbs help users understand where they are in the service and how they got there.
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: '@gov.au/breadcrumbs';
$version: '3.0.6';
$dependencies: (('@gov.au/core', '4.0.0'), ('@gov.au/link-list', '3.0.0'));

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.
