/*! @gov.au/table v0.2.1 */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// table module globals
// Used to display tabular data
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: '@gov.au/table';
$version: '0.2.1';
$dependencies: (('@gov.au/core', '4.0.0'));

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

$AU-color-table-head-border: #bbb;
$AU-color-table-row-border: #c0c0c0;
$AU-color-table-row: #f2f2f2;
