/*! @gov.au/buttons v3.0.8 */

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// buttons module globals
// Buttons signal action. Use them to move the user through the service.
//
// Content:
// - Sass versioning
// - Global variables: none so far
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// SASS VERSIONING
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$name: '@gov.au/buttons';
$version: '3.0.8';
$dependencies: (('@gov.au/core', '4.0.0'));

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

// Boy it sure is quiet here.
